<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/global_postgre.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <title>Choix table pour le traitement</title>
</head>
<body>
    <!-- <div id="id_menu_global">
        <menu id="id_menu_global_postgre">
            <div class="menu_display_table_postgre">
                <img src="/static/img/postgre/menu/icons8-table-100.png" alt="list-table">
                <p>display</p>
                <p>table</p>
            </div>
            <div class="menu_method_crud_postgre">
                <img src="/static/img/postgre/menu/icons8-crud-64.png" alt="method-crud">
                <p>method</p>
                <p>crud</p>
            </div>
        </menu>
    </div> -->
    <div id="id_menu_global">
        <menu id="id_menu_global_postgre">
        </menu>
    </div>

    <div id="id_container_postgre">
        <!-- <section>
            <h2>Create schema</h2>
        

            <div>
                <input type="text" id="create_schema" placeholder="création de schéma">
                <button type="button" id="create_schema_btn">Valider le schéma</button>
            </div>
        </section>

        

        <section>
            <h3>Créer une table</h3>
            <div class="select_schema"></div>
            <form id="createTableForm">
                <label for="tableName">Nom de la table :</label>
                <input type="text" id="tableName" name="tableName" required>
                
                <br>

                <div id="columns">
                    <h3>Colonnes</h3>
                    <table border="1">
                    <thead>
                        <tr>
                        <th>Nom de colonne</th>
                        <th>Type</th>
                        </tr>
                    </thead>
                    <tbody id="columnsBody">
                        <tr class="column">
                        <td>
                            <input type="text" name="column_name" placeholder="Nom de colonne" required>
                        </td>
                        <td>
                            <div id="typeSelectContainer"></div>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                

                <button type="button" id="addColumnBtn">Ajouter une colonne</button>

                <button type="submit" id="createTableBtn">Créer la table</button>

                

            </form>
        </section> -->

        <section>
            <h4>Choisir le schema et la table pour le traitement:</h4>
            <div id="schema_container_postgres"></div>
        </section>
    </div>
    
    
    
    

    <!-- Ici tu insères le bloc de règles --> 
                <!-- <div class="verification_name" data-target="tableName"></div> -->
    
    <!-- ------------------------------menu container------------------------- -->
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/menu_container_postgre.js"></script>
   
    <!-- --------------------create schema--------------------------------- -->
   <!--  <script type="module" src="/static/JS/postgreFrontJs/JSON_transfer_conversion_backend/json_create_schema.js"></script>
    <script type="module" src="/static/JS/postgreFrontJs/method_post/post_schema.js"></script>
    <script type="module" src="/static/JS/postgreFrontJs/JSON_transfer_conversion_backend/conserve_json.js"></script> -->

    <!-- --------------------get schema & table--------------------------------- -->
     <script type="module" src="/static/JS/postgreFrontJs/component_ui/display_list_schema_table/display_table_schema_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/method_get/get_list_schema_table_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/component_ui/display_list_schema_table/list_schema_postgre.js"></script>

     <!-- --------------------------post create table----------------------------- -->
      <!-- <script type="module" src="/static/JS/postgreFrontJs/component_ui/select_schema.js"></script>
      <script type="module" src="/static/JS/postgreFrontJs/component_ui/add_column.js"></script>
      <script type="module" src="/static/JS/postgreFrontJs/method_post/post_create_table.js"></script> -->

</body>
</html>