<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="/static/css/global_postgre.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/method_crud_postgre.css">
    <title>Rename one column</title>
</head>
<body>

    

        <!--  menu -->
    <div id="id_menu_global">
        <menu id="id_menu_global_postgre">
        </menu>
    </div>

    <div id="id_container_postgre">
        
        <!-- chargement --> 
        <div id="globalSpinner"></div>

            <!-- -----------------------------supprimer une colonne----------------------------------- -->

        <div id="container_delete_one_column_postgre">
        </div>
    </div>

        
    <!-- -----------------------------animation de chargement------------------------- -->
    <script type="module" src="/static/JS/animate_spin.js"></script>

    <!-- ---------------------------------------supprimer une colonne------------------- -->
     <script type="module" src="/static/JS/postgreFrontJs/method_delete/delete_one_column_postgre.js"></script>
     <!-- ------------------------------menu container------------------------- -->
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/menu_container_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/selected_menu_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/create_db_postgre.js"></script>
    <!-- activate refresh token -->
     <script type="module" src="/static/JS/activate_refresh_token.js"></script>
</body>
</html>