<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global_postgre.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/method_crud_postgre.css">
    <title>Delete row</title>
</head>
<body>
    <div id="globalSpinner"></div>

    <script type="module" src="/static/JS/animate_spin.js"></script>
    <script type="module" src="/static/JS/postgreFrontJs/method_delete/delete_row_id_postgre.js"></script>
</body>
</html>