<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <link rel="stylesheet" href="/static/css/global_postgre.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/method_crud_postgre.css">
</head>
<body>

    

   <!--  menu -->
    <div id="id_menu_global">
        <menu id="id_menu_global_postgre">
        </menu>
    </div>

    <div id="id_container_postgre">
        
        <!-- Bouton retour --> 
        <button id="backBtnPostgre">revenir à la liste des tables</button>
        <br>
        <br> 

        <!-- chargement --> 
        <div id="globalSpinner"></div>


        <!-- input method crud -->
        <div id="list_method_crud_postgre" style="margin-bottom: 5px;"></div>

        <!-- -----------------------------indication modifier nom table et modifier valeur colonne---------------------- -->
         <div id="text_indication_modify_column_postgre">
            <p>Aller sur les noms des colonnes et choisir les actions</p>
        </div>

        <div id="text_indication_modify_row_postgre">
            <p>Aller sur les id de chaque ligne et choisir les actions</p>
        </div>

        <!-- ----------------------------- fin indication modifier nom table et modifier valeur colonne---------------------- -->

        <!----------------------- schema name / rename schema ---------------------------------->
        <div style="display: flex; flex-direction: row; margin-bottom: 5px;">
            <p style="margin-right: 5px;">Nom du schema : </p> <p id="schemaTitlePostgre"></p>
        </div>

        <div id="rename_schema_postgre" style="margin-bottom: 5px;">
            <form id="renameSchemaForm">
                <div>
                    <input type="text" class="newNameSchemaPostgre" id="create_schema_postgre" placeholder="nouveau nom schema" name="create_schema_postgre">
                    <button type="submit" id="create_schema_btn_postgre">Renommer le schema</button>
                </div>
                <!-- Ici tu insères le bloc de règles --> 
                <div class="verification_error" data-target="create_schema_postgre"></div>
            </form>
        </div>
        <!----------------------- fin schema name / rename schema ---------------------------------->


        <!----------------------- table name / rename table / delete table ---------------------------------->
        <div style="display: flex; flex-direction: row; margin-bottom: 5px;">
            <p style="margin-right: 5px;">Nom de la table : </p> <p id="tableTitlePostgre"></p>
            <button type="button" id="delete_table_postgre">Supprimer la table</button>
        </div>

        <div id="rename_table_postgre" style="margin-bottom: 5px;">
            <form id="renameTableForm">
                <input type="text" id="newName" name="newName" placeholder="Nouveau nom de table" required>
                <button type="submit" id="renameBtnTablePostgre">Renommer la table</button>
                <div class="verification_error" data-target="newName"></div>
            </form>
        </div>
        <!----------------------- fin table name / rename table / delete table---------------------------------->

        <!-- ------------------------------afficher / ajouter lignes---------------------------- -->
         <div id="container_table_postgre">
            <table border="1">
                <thead id="columnsTable"></thead>
                <tbody id="rowsTable"></tbody>

                <!-- tbody pour l'ajout de ligne qui est par défaut display none -->
                <tbody id="rowsTablePostgre"></tbody>
            </table>
        </div>

        <div id="container_btn_add_column_postgre" style="display:inline-flex; flex-direction:column;">
            <button type="button" id="addRowBtn">Ajouter une ligne</button>
            <button type="button" id="submitRowBtn">Valider les lignes</button>
        </div>
        <!-- ------------------------------ fin afficher / ajouter lignes---------------------------- -->
    

        <!-- ------------------------afficher / ajouter colonne-------------------------------- -->

        <div id="containerAddColumnPostgre">

            <div id="columns">
                <h5>Ajouter des colonnes</h5>

                <table border="1">
                    <thead>
                        <tr>
                            <th>Nom de colonne</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody id="columnsBody">
                        <tr class="column">
                            <td>
                                <input type="text" name="column_name" placeholder="Nom de colonne" required>
                            </td>

                            <td>
                                <div id="typeSelectContainer"></div>
                            </td>

                            <td>
                                <button type="button" class="removeColumnBtn">Annuler</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="verification_error" data-target="column_name"></div>
            </div>

            <br>

            <div style="display: inline-flex; flex-direction: column;">
                <button type="button" id="addColumnBtn">Ajouter une colonne</button>
                <button type="button" id="validateColumnsBtn">Valider les colonnes</button>
            </div>
            

        </div>

        
        <!-- ------------------------fin ajouter colonne-------------------------------- -->

        

    </div>
   

    

    

    
    
     <!-- charger le webSocket de fastApi -->
     <!-- <script src="/static/JS/webSocket.js"></script> -->
    <!-- -----------------------------animation de chargement------------------------- -->
    <script type="module" src="/static/JS/animate_spin.js"></script>

     <script>
        // Action du bouton retour
        document.getElementById("backBtnPostgre").addEventListener("click", () => {
            // Redirection vers la page qui liste les tables
            window.location.href = "/admin/method/get/tables/schema/postgresql/interface/views";
        });

     </script>

     <!-- liste dans la balise select de méthode crud -->
      <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/list_method_crud.js"></script>
     <!-------------------------- get table / recevoir aussi le nom de la colonne pour supprimer une colonne-->
      <script type="module" src="/static/JS/postgreFrontJs/component_ui/display_table_column_row/display_table_header_postgre.js"></script>
      <script type="module" src="/static/JS/postgreFrontJs/component_ui/display_table_column_row/display_table_row_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/method_get/get_table_column_row_postgre.js"></script>
     <!-- ------------------------------menu container------------------------- -->
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/menu_container_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/selected_menu_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/create_db_postgre.js"></script>

     
    <!-- --------------------rename table--------------------------- -->
      <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/rename_table/rename_table_ui_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/method_post/post_rename_table_postgre.js"></script>
      <!-- verification nom table -->
     <script type="module" src="/static/JS/postgreFrontJs/gestion_error/gestion_error_name.js"></script>
    <script type="module" src="/static/JS/postgreFrontJs/gestion_error/rename_table/verif_name_table_postgre.js"></script> 
    <script type="module" src="/static/JS/postgreFrontJs/gestion_error/rename_table/btn_validate_new_name_postgre.js"></script>     
     
     
     <!-- -------------------------ajouter colonne ---------------------------------------->
    <!-- <script type="module" src="/static/JS/postgreFontJs/postgreSql_data/list_type_data.js"></script> -->
    <script type="module" src="/static/JS/postgreFrontJs/component_ui/display_create_table_column/add_column_postgre.js"></script>
    <script type="module" src="/static/JS/postgreFrontJs/JSON_transfer_conversion_backend/create_json_column_postgre.js"></script>
    <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/add_column/ui_add_column_postgre.js"></script>
    <script type="module" src="/static/JS/postgreFrontJs/method_post/post_add_column_postgre.js"></script>
    <!-- vérification nom colonne -->
     <script type="module" src="/static/JS/postgreFrontJs/gestion_error/create_table/verification_name_create_column.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/gestion_error/add_column/btn_verif_column_postgre.js"></script>
     

      <!------------------------------- ajout ligne---------------------------------- -->
       <script type="module" src="/static/JS/postgreFrontJs/postgreSql_data/input_radio_boolean.js"></script>
       <script type="module" src="/static/JS/postgreFrontJs/postgreSql_data/input_type.js"></script>
       <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/add_row/ui_add_row_postgre.js"></script>
       <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/add_row/ui_select_option_add_row.js"></script>
       <script type="module" src="/static/JS/postgreFrontJs/JSON_transfer_conversion_backend/json_create_row_postgre.js"></script>
       <script type="module" src="/static/JS/postgreFrontJs/method_post/post_add_row_postgre.js"></script>

        <!--  ----------------------------------------rename schema------------------------------------------->  
        <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/rename_schema/ui_select_option_rename_schema.js"></script>
        <script type="module" src="/static/JS/postgreFrontJs/method_put/put_rename_schema_postgre.js"></script> 
        <!--vérification d'orthogaphe pour éviter les erreurs SQL-->
      <script type="module" src="/static/JS/postgreFrontJs/gestion_error/gestion_error_name.js"></script>
      <script type="module" src="/static/JS/postgreFrontJs/gestion_error/create_schema/verification_name_create_schema.js"></script>
      <script type="module" src="/static/JS/postgreFrontJs/gestion_error/create_schema/verification_button_create_schema.js"></script>

      <!-- -----------------------------------------supprimer table------------------------ -->
       <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/delete_table_schema/ui_select_input_delete_table_schema.js"></script>
       <script type="module" src="/static/JS/postgreFrontJs/method_delete/delete_table_postgre.js"></script>

        <!------------------------------------------------supprimer une colonne------------------------>
     <script type="module" src="/static/JS/postgreFrontJs/JSON_transfer_conversion_backend/json_delete_columns_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/method_delete/delete_columns_postgre.js"></script>

       <!-- ----------------choix rename colunm sur le select----------------------------- -->
        <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/rename_column/ui_select_option_rename_column.js"></script>

        <!-- ----------------choix modify row sur le select----------------------------- -->
         <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/modify_value_row/ui_select_option_modify_value_row.js"></script>


</body>
</html>
