<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global_postgre.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/method_crud_postgre.css">
    <title>Renommer plusieurs colonnes</title>
</head>
<body>

    <div id="id_menu_global">
        <menu id="id_menu_global_postgre">
        </menu>
    </div>

    <div id="id_container_postgre">

        <!-- Bouton retour --> 
        <button id="backBtnToTable">Revenir à la table</button>

        <!-- chargement --> 
        <div id="globalSpinner"></div>


        <div id="renameColumnsForm">

            <table>
                <thead>
                    <tr>
                        <th>Nom de la colonne</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody id="columnsTableList"></tbody>

            </table>

            <div style="margin-top:15px;">
                <button type="button" id="submitRenameColumns">
                    Valider les nouveaux noms
                </button>
                <button type="button" id="submitDeleteMultiCol">
                    Valider les colonnes à supprimer
                </button>
            </div>

        </div>

    </div>
    

    <!-- -----------------------------animation de chargement------------------------- -->
    <script type="module" src="/static/JS/animate_spin.js"></script>

    <!------------------------- modification nom de colonne -------------->
    <script type="module" src="/static/JS/postgreFrontJs/component_ui/method_crud/rename_column/display_multi_colums_list.js"></script>
    <script type="module" src="/static/JS/postgreFrontJs/JSON_transfer_conversion_backend/json_rename_columns_postgre.js"></script>
    <script type="module" src="/static/JS/postgreFrontJs/method_put/put_rename_columns_postgre.js"></script>
    <!-- verif rename col -->
     <script type="module" src="/static/JS/postgreFrontJs/gestion_error/gestion_error_name.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/gestion_error/rename_columns/verif_multi_col.js"></script>
     <!-- ----------------------------supprimer multi colonne ------------->
      <script type="module" src="/static/JS/postgreFrontJs/JSON_transfer_conversion_backend/json_delete_columns_postgre.js"></script>
      <script type="module" src="/static/JS/postgreFrontJs/method_delete/delete_columns_postgre.js"></script>
    
    <script>
        // Action du bouton retour
        document.getElementById("backBtnToTable").addEventListener("click", () => {
            const path = window.location.pathname.split("/");
            const schema_name = path[2];
            const table_name = path[3];
            // Redirection vers la page qui liste les tables
            window.location.href = `/admin/${schema_name}/${table_name}/postgresql/interface/views`;
        });

     </script>
     <!-- ------------------------------menu container------------------------- -->
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/menu_container_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/selected_menu_postgre.js"></script>
     <script type="module" src="/static/JS/postgreFrontJs/StyleGlobalPostgre/create_db_postgre.js"></script>
   <!-- activate refresh token -->
     <script type="module" src="/static/JS/activate_refresh_token.js"></script>
</body>
</html>