p{
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
}
p:hover{
    color: #f5063a;
}

form{
    border: 3px solid #ffffff;
    border-radius: 35px;
    padding: 20px;
}
input{
    display: block;
    margin: 9px;
    width: 400px;
}
input[type="checkbox"], label {
  /* vertical-align: middle; */
  width: auto;
  display: inline-block;
}