/*--------------déclaration des variables--------------------*/
:root{
    --background-body: #2c2b2b;
    --color-text: #ffffff;
    --color-first: #1a5c0c;
    --color-second: #36f506;
    --color-third: #f5063a;
    --color-forth: #6206f5;
}


/*------------------- état des btn dans create table    -----------------*/
