/*--------------déclaration des variables--------------------*/
:root{
    --background-body: #2c2b2b;
    --color-text: #ffffff;
    --color-first: #1a5c0c;
    --color-second: #36f506;
    --color-third: #f5063a;
    --color-forth: #6206f5;
}


/*<!-- -----------------------------indication modifier nom table et modifier valeur colonne---------------------- -->*/
#text_indication_modify_column_postgre{
    margin-bottom: 5px;
    padding: 6px;
    width: 30%;
    background-color: var(--color-second);
}

#text_indication_modify_column_postgre p{
    margin: 6px;
}
