<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/global_postgre.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/login_postgre.css">

    <title>connexion ou inscription</title>
</head>
<body style="display: flex; align-items: center; justify-content: center; height: 100vh;">

    
     <section style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <!-- login -->
        <form id="loginFormPostgreSync" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h3>Connexion</h3>
            
            <label for="loginNameUserPostgreSync">
                
                <input type="text" name="loginNameUserPostgreSync" id="loginIdUserPostgreSync" placeholder="NOM UTILISATEUR" required>
            </label>
            <label for="loginNamePasswordPostgreSync">
    
                <input type="text" name="loginNamePasswordPostgreSync" id="loginIdPasswordPostgreSync" placeholder="MOT DE PASSE" required>
            </label>
            
            <button type="submit" id="btnSubmitConnectUserPostgre">Se connecter</button>
            <div id="idVerifyUserPostgre"></div>
            <!-- text create user -->
            <p id="textInviteCreateUserPostgre">Pas de compte utilisateur ? Créer votre compte ici</p>
        </form>

        <!-- signup -->
        <form id="signupFormPostgreSync">
            <h3>Souscription</h3>
            
            <label for="signupNameUserPostgreSync">
            
                <input type="text" name="signupNameUserPostgreSync" id="signupIdUserPostgreSync" placeholder="NOM UTILISATEUR" required>
            </label>
            <label for="signupIdPasswordPostgreSync">
    
                <input type="text" name="signupNamePasswordPostgreSync" id="signupIdPasswordPostgreSync" placeholder="MOT DE PASSE" required>
            </label>
            <button type="submit" id="btnSubmitCreateUserPostgre">Créé utilisateur</button>
            <p id="textInviteConnectPostgre">Déjà un compte, se connecter ici</p>
        </form>
     </section>
    
     <script type="module" src="/static/JS/postgreLoginSigninJs/stylePageLoginPostgre.js"></script>
</body>
</html>