<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/global_postgre.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/login_postgre.css">

    <title>connexion ou inscription</title>
</head>
<body style="display: flex; align-items: center; justify-content: center; height: 100vh;">

    
     <section style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <!-- login -->
        <form id="loginFormPostgreSync" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h3>Connexion</h3>
            
            <label for="loginNameUserPostgreSync">
                
                <input type="text" name="loginNameUserPostgreSync" id="loginIdUserPostgreSync" placeholder="NOM UTILISATEUR" required>
            </label>
            <label for="loginNamePasswordPostgreSync">
    
                <input type="password" class="getPasswordToShow" name="loginNamePasswordPostgreSync" id="loginIdPasswordPostgreSync" placeholder="MOT DE PASSE" required>
                <label>
                <input type="checkbox" id="showPassword">
                Afficher le mot de passe
                </label>
            </label>
            
            <button type="submit" id="btnSubmitConnectUserPostgre">Se connecter</button>
            <div id="idVerifyUserPostgre"></div>
            <!-- text create user -->
            <p id="textInviteCreateUserPostgre">Pas de compte utilisateur ? Créer votre compte ici</p>
        </form>

        <!-- signup -->
        <form id="signupFormPostgreSync">
            <h3>Souscription</h3>
            
            <label for="signupNameUserPostgreSync">
            
                <input type="text" name="signupIdUserPostgreSync" id="signupIdUserPostgreSync" placeholder="NOM UTILISATEUR" required>
                <div class="verification_error" data-target="signupIdUserPostgreSync"></div>
            </label>
            <label for="signupIdPasswordPostgreSync">
    
                <input type="password" class="getPasswordToShow" name="signupIdPasswordPostgreSync" id="signupIdPasswordPostgreSync" placeholder="MOT DE PASSE" required>
                <label>
                <input type="checkbox" id="showPassword">
                Afficher le mot de passe
                </label>
                <div class="verification_password" data-target="signupIdPasswordPostgreSync"></div>
            </label>
            <button type="submit" id="btnSubmitCreateUserPostgre">Créé utilisateur</button>
            <p id="textInviteConnectPostgre">Déjà un compte, se connecter ici</p>
        </form>
     </section>
    
     <!-- style dynamique -->
     <script type="module" src="/static/JS/postgreLoginSigninJs/stylePageLoginPostgre.js"></script>
     <!-- Souscription -->
      <script type="module" src="/static/JS/postgreLoginSigninJs/signUpCreateUserPostgre.js"></script>
     <!-- gestion erreur -->
      <script type="module" src="/static/JS/postgreFrontJs/gestion_error/gestion_error_name.js"></script>
      <script type="module" src="/static/JS/postgreLoginSigninJs/gestion_error/verif_syntaxe_create_user.js"></script>
      <script type="module" src="/static/JS/postgreLoginSigninJs/gestion_error/verif_password_global.js"></script>
      <script type="module" src="/static/JS/postgreLoginSigninJs/gestion_error/verif_psswrd_postgre.js"></script>
      <script type="module" src="/static/JS/postgreLoginSigninJs/gestion_error/btn_signup.js"></script>
      <!-- affichage mot de passe -->
       <script type="module" src="/static/JS/show_password.js"></script>
</body>
</html>