<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/table.css">
    <title>Document</title>
</head>
<body>
    <!-- Bouton retour --> 
    <button id="backBtnToTable">Revenir à la table</button>
    <form id="renameColumnsForm">

        <table>
            <thead>
                <tr>
                    <th>Nom de la colonne</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="columnsTableList"></tbody>

        </table>

        <div style="margin-top:15px;">
            <button type="submit" id="submitRenameColumns">
                Valider les changements
            </button>
        </div>

    </form>

    <script type="module" src="/static/JS/component_ui/display_colums_list.js"></script>
        <script type="module" src="/static/JS/JSON_transfer_conversion_backend/json_rename_columns.js"></script>
    <script type="module" src="/static/JS/method_put/put_rename_columns.js"></script>
    <script>
        // Action du bouton retour
        document.getElementById("backBtnToTable").addEventListener("click", () => {
            const path = window.location.pathname.split("/");
            const schema_name = path[2];
            const table_name = path[3];
            // Redirection vers la page qui liste les tables
            window.location.href = `/admin/${schema_name}/${table_name}`;
        });

     </script>
   
</body>
</html>