<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <link rel="stylesheet" href="/static/css/table.css">
</head>
<body>

    <!-- Bouton retour --> 
    <button id="backBtn">Revenir à la liste des tables</button>
    <br>
    <p>Nom de la table</p> <h1 id="tableTitle"></h1>

    <form id="renameTableForm">
        <input type="text" id="newName" placeholder="Nouveau nom de table" required>
        <button type="submit">Renommer</button>
    </form>

    <p>---------------------------------------------------------------------------------</p>
   
    <h1>détails de la table</h1> 
    <table border="1"> 
        <thead id="columnsTable"></thead> 
        <tbody id="rowsTable"></tbody> 
    </table> 
    <br>
    <br>
    <!-- ajout de ligne -->
    <button type="button" id="addRowBtn">Ajouter une ligne</button>
    <button type="button" id="submitRowBtn">valider des lignes</button>

    

    <br>
    <br>
    <br>

    <p>-----------------------------------------------------------------------------------</p>

    <h2>Ajouter une colonne</h2>

    <form id="addColumnForm">

        <!-- créer une colonne -->
        <div id="columns">
            <table border="1">
            <thead>
                <tr>
                <th>Nom de colonne</th>
                <th>Type</th>
                </tr>
            </thead>
            <tbody id="columnsBody">
                <tr class="column">
                <td>
                    <input type="text" name="column_name" placeholder="Nom de colonne" required>
                </td>
                <td>
                    <div id="typeSelectContainer"></div>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        
        <br>
        <button type="button" id="addColumnBtn">Ajouter une colonne</button>


    <br>


     <button type="button" id="validateColumnsBtn">Valider la ou toutes colonnes</button>
    </form>
    
     <!-- charger le webSocket de fastApi -->
     <!-- <script src="/static/JS/webSocket.js"></script> -->

     <script>
        // Action du bouton retour
        document.getElementById("backBtn").addEventListener("click", () => {
            // Redirection vers la page qui liste les tables
            window.location.href = "/admin/tables";
        });

     </script>

     
     <!-- get table -->
      <script type="module" src="/static/JS/component_ui/display_table_header.js"></script>
      <script type="module" src="/static/JS/component_ui/display_table_row.js"></script>
     <script type="module" src="/static/JS/method_get/get_table_column_row.js"></script>

      <!-- charger le formulaire pour la colonne -->
     <script type="module" src="/static/JS/component_ui/add_column.js"></script>
     

      <!-- ajout ligne -->
       <script type="module" src="/static/JS/postgreSql_data/input_radio_boolean.js"></script>
       <script type="module" src="/static/JS/postgreSql_data/input_type.js"></script>
       <script type="module" src="/static/JS/component_ui/add_row.js"></script>
       <script type="module" src="/static/JS/JSON_transfer_conversion_backend/json_create_row.js"></script>
       <script type="module" src="/static/JS/method_post/post_row.js"></script>

     

     <script src="/static/JS/method_post/post_rename_table.js"></script>

     <script type="module" src="/static/JS/method_post/post_column.js"></script>

     <script type="module" src="/static/JS/postgreSql_data/list_type_data.js"></script>
</body>
</html>
